html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #1b1d1f;
}

.container {
  margin: auto;
  width: 1170px;
}

img {
  vertical-align: top;
}

button {
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  background: #ff6b0a;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: 500ms;

  &:hover:not(:disabled) {
    box-shadow: 0 0 3px 2px #fff, 0 0 10px 3px #ff6b0a,
      inset 0 0 3px 2px #ff6b0a, inset 0 0 10px 3px #fff;
  }
  
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.hero {
  height: 720px;
  background: linear-gradient(to right, transparent, #a5deff);

  .container {
    display: flex;
    justify-content: space-between;
    position: relative;

    .logo {
      position: absolute;
      top: 32px;
      cursor: pointer;
    }

    .content {
      margin-top: 124px;
      border-radius: 40px;
      width: 573px;
      height: 476px;
      background: #fff;
      padding: 60px;
      box-sizing: border-box;

      .greeting {
        font-weight: 600;
        margin-block: 0 60px;
      }

      h1 {
        line-height: 72px;
        font-size: 64px;
        font-weight: 600;
        margin-block: 0 24px;
      }

      .description {
        margin-block: 0 32px;
      }
    }
  }
}

.facts {
  padding-block: 48px 100px;
  text-align: center;

  h2 {
    margin-block: 24px 32px;
    line-height: 72px;
    font-size: 48px;
    font-weight: 600;
  }

  .description {
    margin: 0 auto 32px;
    width: 772px;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      width: 374px;

      h3 {
        margin-block: 8px 24px;
        line-height: 24px;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}

.subscribtion {
  padding-block: 80px;
  background: linear-gradient(to right, #a5deff, transparent);

  form {
    margin-inline: auto;
    border-radius: 40px;
    background: #fff;
    max-width: 570px;
    padding: 32px 60px 60px;
    box-sizing: border-box;
    text-align: center;

    h4 {
      margin-block: 32px 12px;
      font-size: 24px;
      font-weight: 600;
    }

    p {
      margin: 0;
    }

    label {
      margin-block: 24px;
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 8px;

      input {
        border-radius: 8px;
        height: 60px;
        border: 1px solid #005bbb;
        box-sizing: border-box;
        padding: 12px 24px;
        font: inherit;
      }
    }

    button {
      margin-top: 24px;
    }

    #animation {
      border: none;
      width: 100vw;
      background: transparent;
      pointer-events: none;
    }
  }
}
